@{
    ViewData["Title"] = "Home Page";
    var files = ViewBag.Files as string[];
}

<div class="text-center">
    <h1 class="display-4">Taehyuk Chung</h1>
    <h2>A01084553</h2>
    <p>When I graduate I want to be a fullstack developer</p>

    @foreach (var file in files!)
    {
        @* <p><a asp-controller="File" asp-action="Content" asp-route-filename="@file">@file</a></p> *@
        <p><a asp-controller="File" asp-action="Content" asp-route-filename="@file.Replace(".txt", "")">@file</a></p>
        @* <a href="@Url.RouteUrl("fileDisplay", new { filename = file })">@file</a> *@

    }
</div>
